aiohttp>=3.11.11
apscheduler>=3.10.4
base58>=2.1.1
datetime>=5.5
fastapi>=0.115.8
helius-sdk>=0.0.11
pandas>=2.2.3
pyngrok>=7.2.3
pyrotgfork>=2.2.4
python-dotenv>=1.0.1
solana>=0.36.2
solders>=0.23.0
sqlalchemy>=2.0.37
tgcrypto>=1.2.5
uvicorn>=0.34.0
greenlet>=3.1.1
setuptools>=65.5.1                                                         
wheel>=0.38.4
requests>=2.32.3
Brotli
